/* variaveis */
:root{
    --background-verde: #306c34 ;
    --font-title: 'Felipa', sans-serif;
    --font-subtitle: 'Roboto', sans-serif;
    --font-subpage: 'Permanent Marker', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: auto;
    background-color: var(--background-verde);
}

#about{
    margin-top: 5%;
    border: solid black;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    width: 50%;
    background-size: 100% 100%;
    background-color: white;
    text-align: center;
    font-family: var(--font-subpage);
    font-size: 40px;
}
p{
    text-align: center;
    padding-top: 5%;
}
#vakinha{
    width: 1000px;
    height: auto;
    border: solid red 10px;

}
a{
    text-decoration: none;
}
#p1{
    font-family: var(--font-subpage);
    padding: 1%;
    font-size: 25px;
    line-height: 3rem;
    text-indent: 3ch;
    color: black;
    font-size: 30px;
    
}
@media screen and (max-width: 920px){
    #vakinha{
        width: 500px;
        height: auto;
    }
 }
 @media screen and (max-width: 540px){
    #vakinha{
        width: 400px;
        height: auto;
    }
 }