footer{
    background-size: 100% 70%;
    background-position: top 100% ;
    background-repeat: no-repeat;
    background-image: url("../imagens/footer.jpg");
    background-color: white;
    width: 100%;
    height: auto;
    min-height: 200px;
    max-height: 100vh;
    overflow-y: auto;
}
#footer_content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 4rem 3.5rem;
}
#footer_contacts{
    margin-bottom: 0.75rem;
    display: inline-flex;
    align-items: center;
    width: auto;
    padding-right: 30%;
    padding-top: 200px;
}
#footer_social_media{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding-top: 300px;
}
.logofooter{
    width: 60px;
    height: auto;
}

#footer_copyright{
    display: inline-flex;
    align-items: center;
    padding-top: 300px;
    width: auto;
    padding-left: 40%;
}
.imgrede{
    width: 50px;
    height: auto;
}
.imggithub{
    width: 20px;
    height: auto;
}