/* variaveis */
:root{
    --background-verde: #306c34 ;
    --font-title: 'Felipa', sans-serif;
    --font-subtitle: 'Roboto', sans-serif;
    --font-subpage: 'Permanent Marker', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: auto;
    background-color: var(--background-verde);
}

#header-up{
    background-size: 100% 80%;
    background-position: top 100% ;
    background-repeat: no-repeat;
    background-color: var(--background-verde);
    width: 100%;
    height: 150px;
}

#logo-bixos{
    border-top-left-radius: 100%;
    width: 100%;
    height: 200px;
    background-color: white;
    
}

#ramo{
    float: left;
    width: 300px;

}

#img-bixo{
    float: right;
    height: 200px;
    width: auto;
}

#cabecalho{
    text-align: center; 

}

#title{
    font-family: var(--font-title);
    font-size: 80px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    
    
}
#subtitle{
    color: black;
    margin-top: 1%;
    font-size: 20px;
    font-family: var(--font-subtitle);
}
#container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#box{
    display: flex;
    flex-direction: row-reverse;
}
#subtitle1{
    border: solid black;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    width: 50%;
    background-size: 100% 100%;
    background-color: white;
    text-align: center;
    font-family: var(--font-subpage);
    font-size: 40px;
}
.imgindex{
    border: solid red 10px;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 400px;
    height: 400px;
}
#p1{
    font-family: var(--font-subpage);
    padding: 1%;
    font-size: 25px;
    line-height: 3rem;
    text-indent: 3ch;
}
#local{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    display: block; 
}
#txtlocal{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 2%;
    text-transform: uppercase;
    background-color: white;
    width: 50%;
    margin-left: 25%;
    border: solid black;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
}
#hr{
    color: var(--background-verde);
    margin: 0;
    padding: 0;
    background-size: 100% 100%;
    width: auto;
    height: 100px;
    background-image: url("../imagens/hr.jpg");
    background-repeat: no-repeat;
}
#container3{
    margin-top: 5%;
    display: block;
    text-align: center;
}
#container3 h2{
    font-size: 30px;
    font-family: var(--font-subpage);
}
#importancia{
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#importancia h3{
    font-size: 30px;
    font-family: var(--font-subpage);
}
.img-imp{
    border: solid 5px red;
    border-radius: 80%;
    width: 300px;
    height: 300px;
   
}

#biologica{
    margin-left: 2%;
    margin-right: 2%;
}
#conteudo-historica{
    display: block;
    padding-top: 3%;
}
#conteudo-historica p{
    font-family: var(--font-subpage);
    margin-top: 5%;
    padding: 1%;
    font-size: 25px;
    line-height: 3rem;
    text-indent: 3ch;
}
#conteudopt1{
    display: flex;
    flex-direction: row; 
    padding-top: 1%;
}
#conteudopt2{
    display: flex;
    flex-direction: row; 
    margin-bottom: 5%;
    padding-top: 1%;
    padding-bottom: 5%;
}
.imghouse{
    width: 500px;
    height: 400px;
    border: solid 5px red;
}
#conteudo-biologica p{
    font-family: var(--font-subpage);
    margin-top: 5%;
    padding: 1%;
    font-size: 25px;
    line-height: 3rem;
    text-indent: 3ch;
}
.imgbixo{
    margin-left: 1%;
    margin-right: 1%;
    width: 400px;
    height: 400px;
    border: solid 5px red;
}
#itens-biologica2{
    justify-items: center;
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
.nomebixo{
    margin-left: 1%;
    margin-right: 1%;
    width: 400px;
    font-family: var(--font-subpage);
    background-color: white;
    height: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 2%;
    text-transform: uppercase;
    border: solid black;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
}
#itens-biologica2-mobile{
    display:none;
}
#cont-final{
    text-align: center;
    margin-top: 10%;
    font-family: var(--font-subpage);
    font-weight: 1rem;
}
#cont-geografica{
    margin-top: 5%;
    text-align: center;
    display: block;
    font-family: var(--font-subpage);
}
#anc1,#anc2,#anc3{
    border: solid black;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    width: 60%;
    background-size: 100% 100%;
    background-color: white;
    text-align: center;
    font-family: var(--font-subpage);
    font-size: 40px;
}
#cont-geografica p{
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: 2rem;
    font-size: 25px;
}
#mapa-fluvial{
    border: solid red 10px;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: auto;
    height: auto;
}
#cont-geografica3{
    display: block;
}
.imggeo2{
    border: solid red 10px;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: auto;
    height: auto;

}


@media screen and (max-width: 920px){
    body{
        width: 100%;
         height: auto;
    }
    #header-up{
        margin-bottom: 10%;
        padding-top: 3%;
    }
    #cont-ramo{
        display: none;

    }
    #img-bixo{
        float: right;
        height: 150px;
        width: auto;
    }
    #mobile-container{
        display: block;  
    }
    #hr{
        height: auto;
    }
    #box{
        display: block;
    }
    iframe{
        width: 400px;
        height: 300px;
    }
    #importancia{
        display: block;
    }
    .imgindex{
        width: 300px;
        height: auto;
    }
    #conteudopt1, #conteudopt2{
        display: block;
        padding-top: 1%;
    }
    .imghouse, .imgbixo{
        width: 350px;
        height: auto;
    }
    #itens-biologica2{
        display: none; 
    }
    #itens-biologica2-mobile{
        display: block;
    }
    #itens-biologica2-mobile .nomebixo{
        width: 80%;
        height: auto;
        margin-bottom: 10%;
    }
    .imggeo2, #mapa-fluvial{
        height: auto;
        width: 400px;
    }
    

}   

