/* variaveis */
:root{
    --background-verde: #306c34 ;
    --font-title: 'Felipa', sans-serif;
    --font-subtitle: 'Roboto', sans-serif;
    --font-subpage: 'Permanent Marker', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: auto;
    background-color: var(--background-verde);
}


.card{
    width: 400px;
    height: 350px;
    border: dotted black 5px;
    border-radius: 25px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}
.input1{
    cursor: pointer;
    background-color: white;
    padding: 3px;
    border: 2px solid black;
    box-shadow: 10px 10px 8px  green;
    border-radius: 8px;
}
input::placeholder{
    color: black;
}


.input {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px 0px 10px 0px;
    


}

.logo {
    width: 350px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;


}

button:hover {
    cursor: pointer;
}

button {
    width: 100px;
    height: 25px;
    border-radius: 15px;
    background-color: var(--background-verde) ;
    font-size: medium;
}

.cont-botao {
    padding: 70px 0px 15px 0px;
}


button:hover {
    width: 125px;
    height: 30px;
    background: -webkit-linear-gradient(right, #202011, var(--background-verde), white);
    font-size: 20px;

}

.resetarSenha {
    padding-top: 15px;
}

.input1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #0e0d0d;
    width: 100%;
    background: white;
    padding: 0 5px;
}

a {
    cursor: default;
}
#botao-back{
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding-top: 5%;
    font-size: large;

}
#botao-back:hover{
    font-style: italic;
}

@media screen and (max-width: 8/00px) {
    #subtitle{
        display: none;
    }
    .card-transparent {
        width: 280px;
        height: 250px;
    }

    .botao{
        width: 50px;
        height: 15px;
        padding-top:20px;
        align-items: center;
    }

    .criarConta{
        padding-top: 15px;
     
    }

    .logo{
        width: 200px;
    }
  }