nav{
    background-color: white;
    width: 100%;
}
a{
    text-decoration: none;
}

#menu{
    border-style: dotted;
    background-color: white;
    padding: 3%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    height: auto;
}

#menu a{
    width: 100%;
    height: auto;
    border: solid black;
    border-color: black;
    border-radius: 10px;
    padding: 1%;
    background-color: darkseagreen;
    margin: 2%;
    color: black;
    font-size: 20px;
}
.topnav .icon{
    display: none;
}
@media (max-width: 1040px){
    #menu{
        display: block;
    }
    
    
}