/* variaveis */
:root{
    --background-verde: #306c34 ;
    --font-title: 'Felipa', sans-serif;
    --font-subtitle: 'Roboto', sans-serif;
    --font-subpage: 'Permanent Marker', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: auto;
    background-color: var(--background-verde);
}


#container{
    width: 100%;
    display: block;
}
#box{
    display: block;
    text-align: center;
    margin: 0% 20px;
    
}
#about{
    border: solid black;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    width: 50%;
    height: 60px;
    background-size: 100% 100%;
    background-color: white;
    text-align: center;
    font-family: var(--font-subpage);
    font-size: 40px;
}
#about2{
    border: solid black;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    width: 50%;
    height: 60px;
    background-size: 100% 100%;
    background-color: white;
    text-align: center;
    font-family: var(--font-subpage);
    font-size: 40px;
}
.img-voluntarios1{
    border: solid red 10px;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 500px;
    height: auto;
}
.img-voluntarios2{
    border: solid red 10px;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 750px;
    height: auto;
    
}

#p1{
    font-family: var(--font-subpage);
    padding: 1%;
    font-size: 25px;
    line-height: 3rem;
    text-indent: 3ch;
}
@media screen and (max-width: 920px){
    body{
        width: 100%;
         height: auto;
    }
    #about{
        display: block;
    }
    .img-voluntarios1{
        width: 400px;
        height: 300;
    }
    .img-voluntarios2{
        width: 500px;
        height: auto;
        
    }
    #about2{
        width: 50%;
        height: 80px;
    }
  }
  @media screen and (max-width: 640px){
    body{
        width: 100%;
         height: auto;
    }
    #about{
        display: block;
    }
    .img-voluntarios1{
        width: 300px;
        height: 300;
    }
    .img-voluntarios2{
        width: 300px;
        height: auto;
        
    }
    #about2{
        width: 50%;
        height: 150px;
    }
  }
